<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>{% block title %}Oufoaler{% endblock %}</title>
    <!-- Tailwind CSS via CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    {% block head_extra %}{% endblock %}
</head>
<body class="h-screen flex">
    {% include 'parts/_header.html' %}
    {% block content %}{% endblock %}
    {% include 'parts/_footer.html' %}
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <!-- Custom JS -->
    <script src="{{ url_for('static', path='/js/main.js') }}"></script>
    {% block scripts_extra %}{% endblock %}
</body>
</html>
