/* Custom styles */
#map { z-index: 0; }
/* Reserve space for the car image */
#car-image {
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    position: relative;
}
#car-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Preserve aspect ratio */
}
/* Styles for suggestions */
.suggestions {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    z-index: 1000;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
}
.suggestions li {
    padding: 8px;
    cursor: pointer;
}
.suggestions li:hover {
    background-color: #f0f0f0;
}
.suggestions.hidden {
    display: none;
}

#form-container {
    max-height: 100vh; /* Sets the maximum height to the viewport height */
    overflow: hidden;  /* Ensures no scrollbars appear */
}

.loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}